NAUKRI_EMAIL=your_naukri_login_email
NAUKRI_PASSWORD=your_naukri_password
RESUME_PATH=/opt/render/project/src/resume.pdf

GMAIL_ADDRESS=youraddress@gmail.com
GMAIL_APP_PASSWORD=your_16_char_app_password
NOTIFY_TO=youraddress@gmail.com
